
header{
    width: 100%;
    height: 950px;
}
.head_top{
    width: 100%;
    height: 70px;
    background-color: black;
    color: gray;

}

.logo{
    float: left;
    margin-left: 50px;
    margin-top: 20px;
}
.option{

    float: right;
    margin-top: 20px;
    margin-right: 50px;
}
.option>a{
    color: gray;
}
.wrap{
    width: 1200px;
    height: 100%;
    margin: 0 auto;

}
.banner{
    width: 100%;
    height: 800px;
}
.banner img{
    height: 800px;
}

header ul{
    width: 100%;
}
.banner_main{
    height: 800px;
    width: 100%;
}
.nav_main{
    width: 100%;
    height: 50px;


}
main{
    width: 100%;
    height: 100%;
}

.item{
    width: 100%;
    height: 200px;
    margin: 20px 20px;

}
.item .left{
    width: 300px;
    height: 220px;
    float: left;


}
.item .left img{
      width: 230px;
    height: 200px;
    border-radius: 15px;

}
.item .right h3{
   padding-top: 10px;

    color: cornflowerblue;
}

.item .right p{
       padding-top: 70px;
    line-height: 40px;
    font-size: 14px;


}
.itme .right a{
    color: red;
}
